html, body {
        width: 100%;
        height: 100%;
        margin: 0;
      }

      .container {
        display: flex;
        height: 100%;
        width: 100%;
        border-collapse: collapse;
      }

      .box {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
        font-size: 4vw;
      }

      .cats {
        background-color: rgb(207, 187, 38);
        color: rgb(19, 30, 102);
      }

      .dogs {
        background-color: rgb(19, 30, 102);
        color: rgb(207, 187, 38);
      }
